services:
  postgres:
    image: postgres:15
    container_name: documind-postgres
    environment:
      POSTGRES_USER: documind
      POSTGRES_PASSWORD: documind
      POSTGRES_DB: documind
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: documind-redis
    ports:
      - "6379:6379"

  api:
    build: ./apps/api
    container_name: documind-api
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis

  worker:
    build: ./apps/worker
    container_name: documind-worker
    env_file:
      - .env
    depends_on:
      - redis
      - postgres

volumes:
  pgdata:
